<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <style>
        body {
            background-color: rgb(230, 230, 30);
            font-family: Arial, sans-serif;
        }
        
        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        
        h1 {
            text-align: center;
            font-size: 36px;
            margin-bottom: 30px;
        }
        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        label {
            font-size: 20px;
            margin-bottom: 10px;
        }
        
        input[type="text"],
        input[type="password"] {
            padding: 10px;
            font-size: 18px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 20px;
            width: 100%;
        }
        
        input[type="submit"] {
            background-color: #4caf50;
            color: #fff;
            border: none;
            padding: 10px;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
        }
        
        input[type="submit"]:hover {
            background-color: #3e8e41;
        }
        
        .links {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }
        
        .links a {
            margin: 0 10px;
            font-size: 18px;
            color: #333;
            text-decoration: none;
        }
        button{
            color:#fff;
            background-color: gold;
            border-radius: 5px;
            cursor: pointer;
            padding: 5px;
            margin: 5px;
        }

        .img-container {
            text-align: center;
          }
        </style>
    
</head>
<!-- <body>
    <h1>This is secret page</h1>
    <img src=
    "https://img.freepik.com/free-vector/abstract-welcome-composition-with-flat-design_23-2147907809.jpg?w=2000" width="250px" height="200px">

    <h1>This is home page </h1>

    <li><a href="/register">Sign up!!</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
</body> -->
<body>
    <div class="container">
      <h1>Sign Up</h1>
      <div class="img-container">
        <!-- <img src="https://img.freepik.com/free-vector/abstract-welcome-composition-with-flat-design_23-2147907809.jpg?w=2000" width="250px" height="200px"> -->
      </div>
      <br><br>
      <form action="/register" method="POST">
        <input type="text" id="username" name="username" placeholder="Enter Your Username" required>
        <br><br>
        <input type="password" id="password" name="password" placeholder="Enter Your Password" required>
        <br><br>
        <input type="submit" value="Login">
      </form>
      <div class="links">
        <button><a href="/register">Sign Up</a></button>
        <!-- <a href="/login">Login</a> -->
        <button><a href="/logout">Logout</a></button>
      </div>
    </div>
  </body>
</html>



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Sign up form </h1>
    <form action="/" method="POST">
        <input type="text" name="username"
            placeholder="username">
        <input type="password" name="password"
            placeholder="password">
        <button>Submit</button>
    </form>

    <h1>This is home page</h1>

    <li><a href="/register">Sign up!!</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
</body>
</html> -->
